<div class="container mt-5">
    <form class="form-group" action="/answer" data-turbo="false" method="get">
        <input class="form-control p-3 mb-3" type="text" name="ask" placeholder="Ecrivez quelque chose!">
        <input class="form-control" type="submit" value="Ask!">
    </form>
</div>
